[Unit]
Description=HT1 API #2 - Node.js Express
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/HT1_SEMI1_2S2026/api-2-node
Environment=CARNET=202307546
Environment=PORT=8080
ExecStart=/usr/bin/node /home/ubuntu/HT1_SEMI1_2S2026/api-2-node/server.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
